.login { 
display: grid;
place-items: center;
 color: #2d043a;
 font-size: 15px;
 font-weight: 100;
 font-style: italic;

}
.login__container{ 
    padding:50px;
    text-align: center;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0, 1px;
 
} 
.login__container>img{ 
max-width: 300px;
text-transform:  inherit !important;
background-color: #d7b6df;
color:  white;
font-size: small;
color: purple;
object-fit: contain;
margin-bottom: 40px;
}

.login__container >button { 
    margin-top: 50px; 
    text-transform: inherit;
    background-color: #6a0c86;
    color: lavenderblush;
}